@charset "UTF-8";
/* Configuração Portrait*/
body {
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: center bottom;
   background-size: contain;
   background-attachment: fixed;
   background-repeat: no-repeat;
}
    
