@charset "UTF-8";
/* Configurações gerais*/

* {
    margin: 0px;
    padding: 0px;
    background-color: #233eff;

}
html, body {
    background: url(../imagens/cev-portrait.jpg);width: 100vw;
    background-attachment: fixed;height: 100vw;
    background-repeat: no-repeat;
    background-color: #233eff
  
   
    
}
h1 {
    color: white;
    text-shadow:2px 2px 0px #233eff;
    padding: 10px;
}